html, body {
    margin: 0;
    padding: 0;
    background-color: peachpuff;
}

body {
    color: rgb(2, 2, 2);
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.7;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h2 {
    padding: 6px 20 px;
    margin 0;
}

div#header {
    position: relative;
}

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 500px;
    background: rgb(236, 172, 61);
    color: rgb(0, 0, 0);
}

div#extra {
    background-color: rgb(242, 181, 168);
}

div#footer {
    background-color: rgb(255, 47, 0);
    color: aliceblue;
}


div#wrapper {
    float: left;
    width: 100%
}

div#content {
    margin: 0px 70px;
    color: brown;
}
